
$main-color: #FD841F;
$sec-color: #E14D2A;
$dark-color: rgb(205, 16, 77);
$special-color: #9C2C77;
$font-white:#FFF7E9;
$gradient:linear-gradient(to left, #EC9F05, #FF4E00);
// $gradient
// gradient #F53803 #F5D020
// #EC9F05 #FF4E00